/*Common*/
.error-wrapper {
    color: #C60F13;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.1875em;
    padding-bottom: 8px;
}

.mobile-optin-text{
    font-size: 15px;
    font-style: italic;
    padding-bottom: 8px;
}
.mobile-optin-tc{
    font-size: 13px;
    padding-bottom: 8px;
}
.label-text-nowrap{
    white-space: nowrap !important;
}
.field-container{
    height: 70px;
}
.validation_error input,
input.validation_error,
select.validation_error,
.validation_error textarea,
textarea.validation_error {
    margin-bottom: 5px !important;
    /*padding: 0px !important;*/
    background-color: #F9E7E7 !important;
    border-color: #C60F13 !important;
    /*border-color: red !important;*/
}
.thermometer-outer {
    background: #FFFFFF;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    height: 15px;
    width: 98%;
}
.thermometer-inner {
    background: #A52A2A;
    height: 13px;
}
.interaction_count { /*font-size: 12px;*/ }
.interaction_container { margin-bottom: 10px }
.interaction_goal {
    /*font-size: 12px;*/
    float: right;
}
ul.target_list  > li {
    font-size: 14px;
    margin: 0 ;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #E5E4E1;
}
ul.target_list  > li:last-child {
    
    border-bottom: 0px;
}
.signature_list li {
    font-size: 14px;
    margin: 0 ;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #E5E4E1;
}
ul.signature_list  > li:last-child {
    
    border-bottom: 0px;
}

.label_required { font-weight: bold }
.hidden-target { display: none }
.pca_message_body { height: 80px }
#convion_question_from { margin-top: 0px }
.toggle-content{ cursor: pointer; }

.sig-name-location{
    /*width: 80%;*/
    margin-right:4px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sig-duration{
    /*padding: 4px;*/
    /*float: right;*/
    text-align: right;
    white-space: nowrap;
    
}
/*.tabbed-content-active:after { content: '-' }
.tabbed-content-inactive:after { content: "+" }*/


/*Alert Post*/
.ca_content_alert_post #dob_month,
.ca_content_alert_post #dob_day,
.ca_content_alert_post #dob_year {
    width: 29%;
    float: left;
    padding: 3px;
    margin: 4px;
}
.ca_content_alert_post .submit-wrap input {
    background: #6AC225;
    border: 0px;
    width: auto;
    padding: 5px;
    color: white;
    margin-top: 3px;
    text-transform: uppercase;
}
.ca_content_alert_post .submit-wrap {
    clear: both;
    text-align: center;
}
.ca_content_alert_post .signature_list li {
    font-size: 14px;
    list-style: none outside none;
    margin: 3px !important;
    padding: 6px;
    border-bottom: 1px solid #E5E4E1;
}
.ca_content_alert_post .signature_list > li:last-child {
    
    border-bottom: 0px;
}
.ca_content_alert_post #show_my_signature{
    margin:0px !important;;
}
.ca_content_alert_post #convion_question_from{
    
    border: 0px;
}

.ca_content_alert_post .interaction_count { font-size: 12px; }
.ca_content_alert_post .interaction_goal { font-size: 12px; }
.ca_content_alert_post .mobile-optin-tc { line-height: 16px;  }
.ca_content_alert_post .show_my_signature { line-height: 16px; margin-bottom: 5px; }
.ca_content_alert_post input[type="checkbox"] { margin: 0px; }
.ca_content_alert_post .question-from-wrapper{ background: #F9F9FB; }

/*Splsh Pages*/
#splash-convio-alert-responce {
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}
.splash-error-submission-faild {
    color: red;
    margin: 10px;
}
.splash-expandable { margin-top: 10px }

.splash-convio-alert .thermometer-outer {
    height: 15px;
}
.ca_content_splash_page  .signature_list li {
    background: none repeat scroll 0 0 #F8F8FF;
    border-radius: 4px;
    font-size: 14px;
    list-style: none outside none;
    margin: 3px !important;
    padding: 6px;
}
.ca_content_splash_page .required-message {
    height: 30px;
}
.ca_content_splash_page  .interaction-status {
    background: none ;
    margin: 0px;
    padding: 0px;
}
.ca_content_splash_page .mobile_opt_in{
    /*height: 60px;*/
}
.ca_content_splash_page .field-container{
    /*height: 60px;*/
    height: 40px;
}
.ca_content_splash_page  .sig-name-location{
    width: 80%;
}

#splash_convio_alert .sig-duration{
    float: right;
    
}
.pca-button-submit {
padding: 8px !important;
border-bottom: 0px !important;
font-size: 16px !important;
margin-bottom: 10px !important;
}
.pca-button {
    color: #ffffff !important;
    text-transform: inherit !important;
    cursor: pointer;
    border:0px !important;
}


.splash-blue .pca-button {  background: #6AC225 !important; }


.splash-red {  color: white !important; }
.splash-red .pca-button { background: #FFFF00 !important; color: #000 !important; }
.splash-red .error-wrapper {   color: rgb(207, 205, 207); }
.splash-red .ca_content_splash_page .signature_list li {  background: none ; }

.splash-green .pca-button {  background: rgb(64, 209, 110) !important; }
.splash-green .ca_content_splash_page .signature_list li { background: none repeat scroll 0 0 #3A946C; }
.splash-green .ca-privacy-policy a { color: rgb(19, 3, 70); }
.splash-green mobile-optin-tc a{ color: rgb(19, 3, 70); }

.splash-dark-blue .pca-button {  background: #6AC225 !important; }
.splash-dark-blue .ca_content_splash_page .signature_list li {  background: rgba(48, 75, 145, 0.13) }
.splash-dark-blue .ca-privacy-policy a {  color: #C8C8D1; }
.splash-dark-blue .mobile-optin-tc a{ color: #C8C8D1; }

.splash-sea-green .pca-button {  background: #ff5a00 !important; }
/*Investigation*/
.fieldset_investigation_site input[type="text"] { width: 92% }
.fieldset_investigation_site textarea { width: 92% }
.fieldset_investigation_site  select {
    background: #fcfcfc;
    border: solid 1px #e4e4e2;
    padding: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    width: 95%;
}

.fieldset_investigation_site { margin-top: 15px }
.fieldset_investigation_site .field-wrap { margin-bottom: 5px }
.section-convion-alert-form {
    background: #F4FAFC;
    padding: 10px;
}
.ca_content_investigation_site .interaction_container { margin-top: 20px; margin-bottom: 20px; }
.section-convion-alert-form .targets { /*margin: 20px;*/ }


.ca_content_investigation_site #dob_month,
.ca_content_investigation_site #dob_day,
.ca_content_investigation_site #dob_year {
    width: 30%;
    float: left;
    margin: 4px;
}
.ca_content_investigation_site .target_container {
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F8F8FF;
    padding: 14px;
}
.ca_content_investigation_site .hide{
    display: none;
}
.ca_content_content_investigation_site .interaction_container {
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F8F8FF;
    padding: 14px;
}
.ca_content_investigation_site .interaction_container {
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F8F8FF;
    padding: 14px;
}
.ca_content_investigation_site .signatures_container {
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F8F8FF;
    padding: 14px;
}
.ca_content_investigation_site .signature_list li {
    background: none repeat scroll 0 0 #F8F8FF;
    border-radius: 4px;
    font-size: 14px;
    list-style: none outside none;
    margin: 3px;
    padding: 10px;
}
.ca_content_investigation_site .form-processing  {
    opacity: 0.40;
}
.ca_content_investigation_site  .thermometer-outer {
    height: 13px;
}
div.required input[placeholder] {
   font-weight: bold;
  
}
select.required {
   font-weight: bold;
  
}
.sec_code{
    display: none !important;
}
.signature_list {
    border: 0px;
}
.signature_list tr {
    background: none;
}
.signature_list td {
    background: #fff;
    border-bottom: 1px solid #E5E4E1;
}
.field-wrap{
    /*height: 60px;*/
}

div.mobile-optin-text{
    display: table;
    padding-top: 0px;
}
.ca_content_alert_post div.mobile-optin-text {
     padding-top: 0px;
}
.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  height: 100%;
  overflow:auto;
  width:24% !important;
}

.autofix_sb.fixed.bottom {
  bottom: 0;
  position: absolute !important;
}

.interaction-status {
    display: table; background: #E8E8E8; padding: 10px;margin: 10px 0px 9px 0px ;
}
.interaction-status-count{
    width: 20px; font-size: 30px; color: #78A148; display: table-cell; vertical-align: middle;
}
.interaction-status-goal{
    display: table-cell; padding-left: 10px
}
.interaction-status-goal-text{
    color: rgba(6, 154, 248, 1);
}

/* Action Alert changes */
.single-alert .small-12.large-4.columns { background: #e4e4e4 }
.single-alert .small-12.large-4.columns fieldset { border: 0; padding: 1.25em 0.5em }
.single-feature .small-12.large-4.columns { background: #e4e4e4 }
.single-feature .small-12.large-4.columns fieldset { border: 0; padding: 1.25em 0.5em }
.ca_content_alert_post .signature_list li { border-color: #C9C9C9; }
.req-legend { margin-bottom: 10px; } 
.ca_content_alert_post .submit-wrap input:hover { color: #1d95bd }
#convion_question_from { margin-bottom: 0; padding-bottom: 4px; }
.ca-privacy-policy, .ca-privacy-policy + p { font-size: 0.7em; }


/*Thermometer style*/
.thermometer_goal { margin: 10px 0; }
.thermometer-outer { border: 0; height: 20px; border-radius: 10px; overflow: hidden; }
.thermometer-inner { height: 20px; background: rgb(37,170,214); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,170,214,1) 0%, rgba(27,125,158,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,170,214,1)), color-stop(100%,rgba(27,125,158,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(37,170,214,1) 0%,rgba(27,125,158,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(37,170,214,1) 0%,rgba(27,125,158,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(37,170,214,1) 0%,rgba(27,125,158,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(37,170,214,1) 0%,rgba(27,125,158,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25aad6', endColorstr='#1b7d9e',GradientType=0 ); /* IE6-9 */
 }
.ca_content_alert_post .interaction_count, .ca_content_alert_post .interaction_goal { font-family: "Helvetica Neue", Arial, sans-serif; font-weight: normal; }

/* fix Title field in convio alert */
@media only screen {
.splash-convio-alert .small-4 { width: 100%; }
}


/*convio changes */
.splash-expandable .dropdown { background: rgba(0, 0, 0, 0.2) !important; color: white !important; padding: 0 !important; color: #FFFF00; padding: 1em 3em 1em 1em !important; font-size: 13px; margin-bottom: 0; box-shadow: none; -moz-box-shadow: none; }
.toggle_tab { background: rgba(0, 0, 0, 0.4); padding: 10px; }
.dropdown.button:before { right: 1em !important; }
.dropdown.tabbed-content-inactive.button.button:before { top: 38% !important; }
.dropdown.tabbed-content-inactive.button.small:before { border-color: transparent transparent transparent #fff }
.dropdown.tabbed-content-active.button.small:before { border-color: #fff transparent transparent transparent }
.splash-convio-alert .interaction_container { margin-top: 10px; }

.splash-expandable .dropdown.tabbed-content-active { background: rgba(0, 0, 0, 0.4) !important; }
.field-wrap { line-height: 1.4em; }
.toggle_tab .signatures li { padding: 5px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.42); }
.thermometer-outer { border: 0; height: 20px !important; border-radius: 10px; overflow: hidden; }
#convion_question_from { margin-top: 15px !important; padding-top: 13px !important; }
.small-offset-0 { width: 100%; margin-top: 10px; }

.field-wrap-dob{
    height: 50px;
}
.field-wrap-dob .error-wrapper{
   float: left;
}
.label-inline{
    display: inline;
}
.row-splash-email{
    margin-top: 14px;
}
.interaction-status-goal { vertical-align: middle }
.convio_call_to_action { font-size: 1.5em; font-weight: bold; text-align: center; color: green; }
.no-right-col .constituent_fields { width: 50%; } 
.splash-thumb-wrap{
    margin-bottom: 10px;
}
.ca-privacy-policy{
    margin: 8px 2px 2px 2px;
}
.ca-privacy-policy p {
    margin-bottom: 0px;
    line-height: 1.3em;
}
.error-submission-faild{
    color: #C20;
    margin-top: 12px;
    margin-bottom: 4px;
}

.error-submission-faild p{
    line-height: 21px;
}
.reveal-modal.medium .error-wrapper { display: none; }
.ca_content_splash_page div.small-12.large-6.columns { margin-bottom: 10px; }

@media only screen and (max-width: 1215px) { 
.reveal-modal.medium .splash-convio-form .large-4, .reveal-modal.medium .splash-convio-form .large-3, .reveal-modal.medium .splash-convio-form .large-5, .reveal-modal.medium .splash-convio-form .large-6, .reveal-modal.medium .splash-convio-form .large-7, .reveal-modal.medium .splash-convio-form .large-8, .reveal-modal.medium .splash-convio-form .large-9, .reveal-modal.medium .splash-convio-form .large-10, .reveal-modal.medium .splash-convio-form .large-11, .reveal-modal.medium .splash-convio-form .large-12 { width: 100%; }
.interaction-status-count { font-size: 32px; }
}
.alert_content_table{
    border: 0px;
    width:100%;
    font-family: inherit;
}
 .alert_content_table td{
        max-width: 605px;
    }
    .alert_content_table td img{
     max-width: 100% !important;
    }
.alert_content_table td{
    padding: 0px;
    margin: 0px;
    width:100%;
    font-family: inherit;
    
}
#question-from-wrapper{ width:33% /*!important*/}
@media only screen and (min-width: 320px) and (max-width: 480px) { 
    .alert_content_table td{
        max-width: 265px;
    }
     .alert_content_table td img{/*
        max-width: 265px !important;*/
    }
 }
 @media only screen and (min-width: 480px) and (max-width: 600px) { 
    .alert_content_table td{
        max-width: 430px;
    }
     .alert_content_table td img{
       /* max-width: 430px !important;*/
    }
 }
 @media only screen and (min-width: 600px) and (max-width: 800px) { 
    .alert_content_table td{
        max-width: 550px;
    }
     .alert_content_table td img{
       /* max-width: 550px !important;*/
    }
 }
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .alert_content_table td{
        max-width: 470px;
    }
     .alert_content_table td img{
         /*max-width: 470px !important;*/
    }
 }
@media only screen and (min-width: 320px) and (max-width: 767px) { 
    #question-from-wrapper{ width:100% !important}
}
/*CSS Updates For Splash Pages*/
.df_thermometer { margin: 1em 0; padding: 0 0.5em; }
.thermometer-outer { border: 0; height: 20px !important; border-radius: 0; overflow: hidden; }
.thermometer-inner { background: #0acddf; }
.interaction-status-count { font-weight: bold; }
/*#pspModal a { text-decoration: underline; }*/
.ca-privacy-policy a { text-decoration: underline; }

.splash-red .interaction-status-count, .splash-red .interaction-status-goal, .splash-red a { color: #ffff00; }
.splash-red .interaction-status-goal-text { color: white; }

.splash-blue .interaction-status-count, .splash-blue .interaction-status-goal, .splash-blue a { color: #ff9000; }
.splash-blue .interaction-status-goal-text { color: #024c85; }
.splash-blue .splash-convio-alert .thermometer-outer { border: 1px solid #93c0d7; }
.splash-blue .splash-expandable .dropdown { background: #2e81a9 !important; }
.splash-blue .splash-expandable .dropdown.tabbed-content-active { background: #2e81a9 !important; }
body.home .splash-blue .cushion .toggle_tab, .splash-blue .cushion .toggle_tab { color: white; }

.splash-dark-blue .interaction-status-count, .splash-dark-blue .interaction-status-goal, .splash-dark-blue a { color: #feff00; }
.splash-dark-blue .interaction-status-goal-text { color: white; }
.splash-dark-blue .pca-button { background: #feff00; color: black !important }

.splash-sea-green .interaction-status-count, .splash-sea-green .interaction-status-goal, .splash-sea-green a { color: #ff9100; }
.splash-sea-green .interaction-status-goal-text { color: #015462; }
.splash-sea-green .splash-convio-alert .thermometer-outer { border: 1px solid #93c0d7; }
.splash-sea-green .splash-expandable .dropdown { background: #078f9b !important; }
.splash-sea-green .splash-expandable .dropdown.tabbed-content-active { background: #078f9b !important; }
body.home .splash-sea-green .cushion .toggle_tab, .splash-sea-green .cushion .toggle_tab { color: white; }

.splash-green .interaction-status-count, .splash-green .interaction-status-goal, .splash-green a { color: #feff01; }
.splash-green .interaction-status-goal-text { color: white; }
.splash-green .splash-expandable .dropdown { background: #11774f !important; }
.splash-green .splash-expandable .dropdown.tabbed-content-active { background: #11774f !important; }
body.home .splash-green .cushion .toggle_tab, .splash-green .cushion .toggle_tab { color: white; }
.splash-green .pca-button { background: #01818c; color: black !important }


/*Convio size changes*/
.splash-convio-alert .error-wrapper { display: none; }
.splash-convio-alert .captcha-image { margin-top: 6px; }
.splash-expandable .dropdown { float: left; }

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .splash-expandable .dropdown { padding: .5em 2em .5em .5em !important; font-size: 12px; }
    .dropdown.button:before { right: .5em; }
    .toggle_tab { margin: 0 !important; }
 }

 @media only screen and (min-width: 768px) and (max-width: 450px) {
     .row.splash-expandable .small-12 a { width: 100%; }
     .dropdown.button.small:before { display: none; }
 }

 /* PV3-WP-4745 */
.toggle_tab { margin: 0 2em 0 0; }
.splash-blue .toggle_tab { background: #2e81a9 !important }
.ca_content_splash_page .signature_list li { background: transparent !important; }
.splash-dark-blue .pca-button { background: #feff00 !important; }
.splash-dark-blue .splash-expandable .dropdown { color: white !important; }
.splash-dark-blue .ca-privacy-policy a { color: #feff00; }
.splash-sea-green .toggle_tab { background: #078f9b !important }
.splash-green input[type="submit"] { color: white !important; background: #008289 !important; }
.splash-green .ca-privacy-policy a { color: #feff01; }
.splash-green .pca-button { color: white !important }
.splash-green .toggle_tab { background: #11774f !important }
body.home .splash-green .psp_continue_peta, body.home .splash-green input[type="submit"] { background: #008289; color: white; }

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
.dropdown.button:before { right: .5em !important; }
.splash-expandable .dropdown { font-weight: normal; }
}

@media only screen and (max-width: 450px) {
.row.splash-expandable .small-12 a { width: 100%; }
.dropdown.button.small:before { display: none; }
}

.splash-dark-blue .dropdown.pca-button { background-color: #006985 !important; }
.splash-dark-blue .toggle_tab { background-color: #006985 !important; }
.splash-convio-alert label.label-inline[for="show_my_signature"] { line-height: 20.1875px; font-size: 12px }
.splash-convio-alert input[type="checkbox"] { margin-bottom: 0; }
.ca_content_alert_post .signatures_container{
    margin-top: 8px;
}

.required-message { font-size: 0.875em } 

.donation-amount, .donation-amount-other { font-size: 0.85em; }

@media only screen and (max-width: 1200px) {
.large-4 , .large-6 { width: 100%; }
}
@media only screen and (max-width: 768px) {
.large-8 .alert_content_table td img { width: 100%; }
}
.alert_content_table td img {
width: 100%; 
max-width: 100% !important;
}
.error-message{
    color: #c00;
    font-size: 13px;
    font-weight: bold;
}
@media only screen and (min-width: 768px) {
.ca_content_alert_post #question-from-wrapper { width: 32%; max-width: 310px; float: right; z-index: 1000; margin-left:  0px; top:-40px }
}
.slideshow .blurb {
    background: none repeat scroll 0 0 #6cb4ee;
    padding: 0.25em 0.9375em 0.75em;
}
.slideshow .caption {
    color: #fff;
    font-size: 1.125em;
    line-height: 1.25;
}
.slideshow .title {
    color: #fff;
    font-size: 1.425em;
    line-height: 1.25;
}
.alert_content .orbit-container{
    background: #6cb4ee;
}
#siimage{
    height: 32px; width: 80%; margin-bottom: 5px;
}
.limited-part-text{
    color: red;
    padding-bottom: 5px;
}
#pspModal .peta-media-credit {
    font-size: 0.5625em;
    display: block;
    /*text-align: left;*/
}
.splash_dob_lable{
    white-space: nowrap;
}
.convio-splash-background .splash-convio-form{
    margin-top: 10px;
}
.convio-splash-background .error-wrapper{
    color: #F89999;
}

.convio-splash-background .countdown_value, .convio-splash-background .splash-header, .convio-splash-background label, .convio-splash-background p {
    color: white !important;
}

.convio-splash-background .interaction-status-goal{
      color: #ffff00;
}