body {
  font-size: 16px;
}

.hero-unit {
    display: table;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('coolpeople.png');
    background-size:cover;
    background-color: #EEEEEE;
    background-position: center;
    height: 60%;
    width: 100%;
}

.hero-unit h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: -1px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
  text-align: center;
}

@media (max-width: 767px) {
  .header {
    text-align: left;
  }

  .hero-unit {
    height: 40%;
  }
}