@font-face {
	font-family: 'peta-web-font';
	src:url('fonts/peta-web-font.eot?g87hwg');
	src:url('fonts/peta-web-font.eot?#iefixg87hwg') format('embedded-opentype'),
		url('fonts/peta-web-font.woff?g87hwg') format('woff'),
		url('fonts/peta-web-font.ttf?g87hwg') format('truetype'),
		url('fonts/peta-web-font.svg?g87hwg#peta-web-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'peta-web-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down-triangle:before {
	content: "\76";
}
.icon-left-triangle:before {
	content: "\2c";
}
.icon-right-triangle:before {
	content: "\2e";
}
.icon-up-triangle:before {
	content: "\5e";
}
.icon-peta-logo:before {
	content: "\70";
}
.icon-cell-phone:before {
	content: "\63";
}
.icon-email:before {
	content: "\6d";
}
.icon-rss:before {
	content: "\21";
}
.icon-x-close:before {
	content: "\78";
}
.icon-bunny-left:before {
	content: "\42";
}
.icon-bunny-right:before {
	content: "\62";
}
.icon-left-arrow:before {
	content: "\3c";
}
.icon-arrow-down:before {
	content: "\56";
}
.icon-magnifying-glass:before {
	content: "\67";
}
.icon-up-arrow:before {
	content: "\41";
}
.icon-right-arrow:before {
	content: "\3e";
}
.icon-arrow-down-alt:before {
	content: "\23";
}
.icon-vege-burger:before {
	content: "\3d";
}
